body {
  height: 1500px;
  margin: 0;
  background-color: #211d54;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 90px 550px 600px auto;
  grid-template-areas:
    "header header header header header header header header header header"
    "home-img home-img home-img home-img home-img home-img home-img home-img home-img home-img"
    "p-container p-container  p-container  p-container  p-container  p-container  p-container p-container  p-container p-container "
    "foot foot foot foot foot foot foot foot foot foot";
}
header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: rgba(20, 17, 51, 0.5);
  color: antiquewhite;
  width: 100%;
  position: fixed;
  height: 90px;
  align-content: center;
  grid-area: header;
  border-bottom: orange 0.5px solid;
}

.logo h1 {
  font-family: "lOBSTER", sans-serif;
  margin: 0;
  font-size: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 2px 2px black;
  opacity: 1;
  color: white;
}

.logo h2 {
  margin: 0;
  font-size: 24px;
  text-shadow: 1px 1px orange;
  color: white;
}

.logo {
  padding-left: 10px;
}

.has-border {
  border: 2px solid black;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  transition: 0.7s;
  font-family: Abril Fatface;
  color: black;
  background-color: white;
}

.has-border:hover {
  transform: translateY(20px);
  font-size: 25px;
  background-color: rgb(255, 186, 57);
  color: black;
  border: 3px solid black;
}

nav {
  margin-top: auto;
  margin-left: -17%;
  margin-bottom: auto;
  align-self: center;
}

.social-media {
  align-content: flex-end;
  color: aliceblue;
  align-self: flex-end;
  margin-bottom: 5px;
}

.home-img {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0;
  grid-area: home-img;
}

.p-container {
  width: 1087px;
  grid-area: p-container;
  height: 500px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.pc {
  background-color: white;
  margin: auto;
  transition: 0.5s;
  border: 2px solid orange;
  width: 300px;
}

.pc:hover {
  transform: scale(1.2);
}

.please {
  margin: 15px;
}

.p-container p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 15px;
}

.p-container div {
  padding: auto;
}

.foot-container {
  width: 100%;
  height: 360px;
  grid-area: foot;
  background-color: rgb(20, 17, 51);
  border-top: 2px orange solid;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-around;
  flex-wrap: wrap;
}

.foot-container ul {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

.foot-container h2 {
  font-size: 30px;
}

@media (max-width: 990px) {
  body {
    grid-template-rows: 90px 550px 1560px auto;
  }

  .has-border {
    border: 2px solid black;
    font-size: 15px;
    color: black;
    margin: 7px;
    padding: 7px;
    border-radius: 7px;
    transition: 0.7s;
    font-family: Abril Fatface;
    background-color: white;
  }
  .p-container {
    width: auto;
    flex-direction: row;
  }

  .pc {
    margin-top: 40px;
    width: 80%;
  }

  .logo h2 {
    font-size: 0px;
  }

  .logo h1 {
    font-size: 23px;
    margin-top: 30px;
  }

  nav {
    padding-left: 80px;
  }

  .has-border:hover {
    transform: translateY(10px);
    font-size: 20px;
    background-color: whitesmoke;
    color: black;
    border: 3px solid black;
  }

  .foot-container ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
  }

  .foot-container h2 {
    font-size: 30px;
  }
}
